<div id="currentMatches">
<h1>Current Matches </h1>
<% if @current_matches.present? %>
    <%= render partial: "current_matches"%>
<% else %>
    <%= render partial: "last_game_result" %>
<% end %>
</div>
<hr>

<div id="matchesInfo">
<h1>Matches Today</h1>
<% if @matches_today %>
    <%= render partial: "matches_today" %>
<% else %>
    <p>No matches today. did the world cup end? :(</p>
<% end %>
</div>

<hr>

<h1>Round of 16 Stage Results</h1>
<div id="second-round-matches">

<% if @all_matches_data.present? %>
    <%= render partial: "round_of_16" %>
<% else %>
    <p>No matches today. did the world cup end? :(</p>
<% end %>
</div>

<hr>

<h1>First Stage Results</h1>

<div id="firstStageMatches">
<% if @all_matches_data.present? %>
    <%= render partial: "first_stage" %>
<% else %>
    <p>No matches today. did the world cup end? :(</p>
<% end %>

</div>
<hr>