<div id="currentMatches">
<h1>Current Matches </h1>
<% if @current_matches.present? %>
    <%= render partial: "current_matches"%>
<% else %>
    <%= render partial: "last_game_result" %>
<% end %>
</div>
<hr>

<div id="matchesInfo">
<h1>Matches Today</h1>
<% if @matches_today.present? %>
    <%= render partial: "matches_today" %>
<% else %>
    <h2>Next Match</h2>
    <%= render partial: "next_match" %>
<% end %>
</div>

<hr>

<button type="button" class="collapsible">Round of 16 Stage Results</button>
<div class="content">
    <div id="second-round-matches">

    <% if @all_matches_data %>
        <%= render partial: "round_of_16" %>
    <% else %>
        <p>No matches today. did the world cup end? :(</p>
    <% end %>
    </div>
</div>

<hr>


<button type="button" class="collapsible">First Stage Results</button>
<div class="content">
    <div id="firstStageMatches">
    <% if @all_matches_data.present? %>
        <%= render partial: "first_stage" %>
    <% else %>
        <p>No matches today. did the world cup end? :(</p>
    <% end %>

    </div>
</div>

<hr>