<!DOCTYPE html>
<html>
  <head>
    <title>World Cup 2022 - Qatar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JWF2VZ2QG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-6JWF2VZ2QG');
    </script>
  </head>

  <body>
  <header><h1>WorldCup 2022 - Qatar</h1></header>
  <div class="main-container">
  
    <%= yield %>
  </div>
  </body>
</html>
